# Ignore Terraform working directory and state files
**/.terraform/*
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore Terraform variable and override files
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files (like SSH keys, certificates, etc.)
*.pem
*.key
*.p12
*.cer
*.csr

# Ignore backup files
*.backup

# Ignore Terraform CLI configuration
.terraformrc
terraform.rc
