# Ignore Terraform working directory and state files in all directories (parent and subdirectories)
**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars

# Ignore backup files
*.backup

# Ignore crash logs
crash.log

# Ignore override files (if you use them in the project)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore sensitive files (such as SSH keys, certificates, etc.)
*.pem
*.key
*.p12
*.cer
*.csr
